/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E5F3FF; 
    color: #333;
    line-height: 1.8;
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: column; 
    margin: 0;
    min-height: 100vh; 
    padding: 0 20px;
}

/* Container for centering content */
.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Header Styling */
.header {
    margin-top: 10px;
    color: #ffffff;
    padding: 30px 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background: linear-gradient(135deg, #6D73FF, #98A4FF);
    margin-bottom: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.header h1 {
    color: #000000; 
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif; 
}

.header p {
    color: #333;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Button Styles */
.start-btn {
    background-color: #f063b8; 
    color: white;
    padding: 16px 32px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 600;
}

.start-btn:hover {
    background-color: #f61489; 
    transform: translateY(-4px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
}

.start-btn:active {
    background-color: #FF5499; 
    transform: translateY(1px);
}

/* Hover Effect for Container */
.container:hover {
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15); 
}

/* Footer Styling */
.footer {
    color: #333;
    text-align: center;
    width: 100%;
    margin-top: auto; 
    background: none; 
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}

.footer p a {
    color: #3498db;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
    }

    .header h1 {
        font-size: 2rem; 
    }

    .header p {
        font-size: 1rem; 
    }

    .start-btn {
        padding: 10px 20px; 
        font-size: 1rem; 
    }

    .container {
        padding: 20px; 
    }

    .footer p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.8rem; 
    }

    .header p {
        font-size: 0.9rem; 
    }

    .start-btn {
        padding: 8px 16px;
        font-size: 0.9rem; 
    }

    body {
        padding-top: 150px; 
    }

    .container {
        padding: 20px; 
    }
}
